<p>edit works!</p>
<button class="btn btn-primary" (click)="AddLocation()">Add location</button>
<button class="btn btn-danger" (click)="DeleteLocation()">Delete location</button>
<input type="text" class="form-control" id="location" (change)="SetLocationName()" placeholder="City/Location" />
<select multiple class="form-control" [(ngModel)]="selectedLocations" (change)="HandleLocationSelect()">
  <option *ngFor="let location of locations" [ngValue]="location.order">
    {{location.name}}
  </option>
</select>
<div class="row">
  <div class="col">
    <div class="sign tempc"></div><label for="temp">Temperature in C:</label><br />
    <input type="range" #temperature name="temp" id="temp" value="0" (change)="EditTemperature()" disabled />
  </div>
  <div class="col">
    <div class="sign rainc"></div><label for="rain">Rain:</label><br />
    <input type="range" #rain name="rain" id="rain" value="0" (change)="EditRain()" disabled />
  </div>
  <div class="col">
    <div class="sign windc"></div><label for="wind">Wind:</label><br />
    <input type="range" #wind name="wind" id="wind" value="0" (change)="EditWind()" disabled />
  </div>
</div>
<button class="btn btn-primary" (click)="AddWeatherInfo(temperature, rain, wind)">Add day to location</button>
<button class="btn btn-primary" (click)="SaveAll()">Save changes</button>
<p>
  <input type="range" min="1" max="10" id="daysToShow" [(ngModel)]="daysToShow" />
  <label for="daysToShow">Days to show: {{daysToShow}}</label>
</p>
<p>
  {{date}}
</p>
<div *ngFor="let selected of selectedLocations">
  <h4>{{locations[selected].name}}</h4>
  <div *ngFor="let weather of locations[selected].weatherOfDay.slice(0, daysToShow)" class="daybox" (click)="SelectWeatherDay(selected, weather.dayCount, weather.order)" id="{{weather.order}}">
    <div>{{weather.day}}</div>
    <div class="temp" [style.borderTopWidth]="weather.temperature+'px'"><p class="winfo">{{weather.temperature}}°C</p></div>
    <div class="rain" [style.borderTopWidth]="weather.rain+'px'"><p class="winfo">{{weather.rain}}mm</p></div>
    <div class="wind" [style.borderTopWidth]="weather.wind+'px'"><p class="winfo">{{weather.wind}}m/s</p></div>
  </div>
</div>

